
body {
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    text-shadow: 5px 5px 2px grey;
}

header #menu {
    color: #66a066;
}

header .menuitem{
    list-style: none;
    display: inline-block;
    background-color: #d0ffd0;
    border-style: solid;
    border-radius: 10px;
    padding: 10 30 10 30;
    margin: 0 10;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 70px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}


header .menuitem:hover{
    color: #447044;
    background-color: #b0ddb0;
    border-radius: 30px;
}

